#login-body .login-input {width: 100% !important;}
#login-body .ui-input-text {width: 100% !important;}
#delconf{max-width: 400px;}
#errorpage{height: 100%;}
#filterPopup { padding: 20px;}

@media all and (max-width: 480px)
{
	.xl-icon-img {text-indent: -9999px;}
	.ui-title {width: 10em;}
}
.ui-title
{
	margin: .6em auto .8em !important;
}
.first-icon
{
	margin-right: 1em;
}
.xl-icon-img
{
	background-size: 20px 20px;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 0em 0em 0em 1.5em;
	top: .7em !important;
	color: white;
	text-decoration: none;
	font-weight: normal !important;
}
.xl-btn-right
{
	position: absolute !important;
	top: .7em !important; 
	right: .5em !important;
}
.xl-btn-left
{
	float: left;
}
.xl-icon-edit
{
	background-image: url("images/36x36-icon-edit@2x.png"); 
}
.xl-icon-add
{
	background-image: url("images/36x36-icon-add@2x.png"); 
}
.xl-icon-delete
{
	background-image: url("images/36x36-icon-delete@2x.png");
}
.xl-icon-arrowl
{
	background-image: url("images/36x36-icon-arrow-l@2x.png");
}
.xl-icon-save
{
	background-image: url("images/36x36-icon-check@2x.png");
}
.xl-icon-cancel
{
	background-image: url("images/36x36-icon-cancel@2x.png");
}
.xl-bar-b
 {
	border: 1px solid 		#456f9a /*{b-bar-border}*/;
	background: 			#5e87b0 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 0 /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bar-background-start}*/), to( #497bae /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/);
}
.list-details{ font-size: .7em; color: #797979;}
.list-fields{margin-right: .3em;}
.label, .field {display: inline-block;font-weight: normal;}
.label{width: 20em;}
.field{color: #797979;}
.no-link{cursor: default;}
.xl-search-bar{margin: -1% 0;}
#xl-search-form { display: inline-block; position: relative; width: 100%; }
.xl-btn-submit{margin-left: -1000px !important;}
.error
{
	text-align : center;
	padding-top : 2%;
	font-weight : bolder;
}
.hidden
{
	display:none;
}
.nodisplay { display: none; }
.del-msg {
	padding: 10px 20px;
	margin: 15px 0;
	border: 1px solid rgba( 0, 0, 0, 0.2 );
	border-radius: 5px;
	background-color: #eee;
 	position: relative;
}

.main-list th, 
.main-list th a.list-header
{
	font-weight: bold;
	text-decoration: none;
	color: black;
	background-color: transparent;
	font-size: 16px;
}

.popupHeader
{
	margin-bottom: 1px solid black;
}

.field-group div.ui-input-text, .field-group textarea.ui-input-text {
	width: 100%;
}
.field-group label.ui-input-text,
.display-record div.label
{ 	
	display:block; 
	width: 100%; /*comes from jquery ui for the width of fields */
	vertical-align: middle;
	font-weight: bold;
}
.display-record div.label
{
	font-size: .9em;
}
.field-group span.value,
.display-record div.field
{ 
	display:block; 
	vertical-align: middle;
}
.display-record div.field {
	margin-left: 10px;
}


.error-text {
	display: none;
}
.has-error .error-text {
	display: block;
	font-size: .9em;
	color: red;
	margin-left: 10px;
}
.has-error label .error-text {
	display: inline;
	font-weight: normal;
	float: right;
}

.has-error .ui-body-c, 
.has-error div.ui-input-text select, 
.has-error div.ui-input-text textarea{
	border: 1px solid red;
	background:#ffeaea;
}


.required {
	color: red;
}

.optional {
	font-size: .9em;
	color: grey;
	margin-left: 10px;
}

.notice {
	padding: 5px;
	border: 1px dotted #94bb94;
	margin-bottom: 15px;
	background-color: #ebffeb;
}