/*** FONTS and COLORS ***/

body, h1-h6, table, tr, td, input, submit, button, textarea, select  {
	font-family: Verdana, Sans-serif;
} 

body { font-size: 13px; } 

h1 {
	font-size: 26px; 
	font-weight: bold; 
	color: #43769d;
	font-style: italic; 
}

#contents {	border-top: 1px solid #43769d; }

.chart #contents { border-top: 0px; }

input[type="text"].filter, input[type="number"].filter { font-size: 12px; }

input[type="text"], 
input[type="number"], 
input[type="password"],
textarea
{
	font-size: 13px; 
}

.main-list th, 
.main-list th a.list-header,
.drill-down-list th,
.drill-down-list th a.list-header 
{
	color: inherit;
}

.main-list td, 
.drill-down-list td 
{
	font-size: 12px;
}

.main-list .break-header,
.drill-down-list .break-header
{
	font-size: 14px;
	font-weight: bold;
}

.main-list tr.header th,
.drill-down-list tr.header th { border-top: 1px solid #CCCCCC; }

.main-list a.list-header { text-decoration: none; }

a.list-paging { 
	color: #63B045; 
	text-decoration: none; 
	font-size: 12px;
}

a.list-paging span { border-bottom: 1px solid #63B045; }

#page-content { background-color: white; }

input.filter {
	height: 20px;
	border: 1px solid #777777;
}

#display-message.display-message-active { background-color: goldenrod; }

input[type="text"], 
input[type="number"], 
input[type="password"], 
textarea 
{
    border: 1px solid #AAAAAA;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset; 
/* Corner radius */
    -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; 
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

/*** IMAGES ***/

#outer-content {
	background-image: url(../images/background-gradient-top.jpg); 
	background-repeat: repeat-x; 
}

body {
	background-image: url(../images/background-grid.jpg); 
	background-repeat: repeat; 
}

/*** LAYOUT ***/

body { margin: 0; padding: 0; }
a img { border: none; }

td.actions span { white-space: nowrap; }

.actions { width: 60px; }
.input-capable-list .actions { width: auto; }

.hidden { visibility: hidden; }
.nodisplay { display: none; }

.page-title-image { display: block; }

#page-title-block {
	margin: 0;
	padding: 20px 30px 20px;
}

#outer-content { 
	margin: 0 0 26px 0;
	padding: 0;	
	display: inline-block;
	min-width: 100%;
}

.display-list #page-content,
.single-record #page-content,
.chart #page-content
{
	display: table;
	min-width: 782px;
}

.chart #contents {
	padding-bottom: 39px;
}

#page-divider-top {
	clear:both;
}

#page-content {
	margin: 0 30px;
	padding: 0 32px;
	min-height: 750px;
}

#page-content  { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
#page-content  { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }
#page-content  { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
#page-content  { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }

.add-link {
	float: right;
	display: inline-block;
	margin-top: 39px;
}

span.list-paging { 
	display: inline-block;
	float: right; 
	margin: 5px 0;
}
	
#list-table 
{
	clear: both;
	border: 0;
	border-collapse: collapse;
}

h3 { 
	margin: 0; 
	padding: 8px 0; 
}

h1.title { 
	float: left;
	display: inline-block; 
	margin: 0;
	margin-top: 39px;
	margin-bottom: 5px;
}

div#display-message { 
	margin: 10px 10px 15px; 
	width: auto; 
	min-height: 17px;
}

.message { padding: 3px 10px; }

#contents {
	clear: both;
	padding: 39px 0 22px;
}

.clear-layout {
	clear: both;
}

form.filter { 
	display: inline;
	float: left;
}

.main-list { 
	margin: 1.2em 0; 
	width: 100%;
}

.drill-down-list, 
#accordion 
{
	margin-top: 1.2em;
}

.main-list, 
.drill-down-list {
	border-spacing: 0; 
}
	
.main-list td, 
.main-list th, 
.drill-down-list td, 
.drill-down-list th 
{
	padding: 8px 4px;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea
{
    padding: 2px 4px;
}

input[type="text"],
input[type="number"],
input[type="password"]
{
    height: 18px;
}
	
td.num { text-align: right; }
td.alpha { text-align: left; }

.field-group { 
	width: 100%; 
	margin: 7px 0;
}

.field-group label, 
.field-group span.label 
{ 
	display:block; 
	vertical-align: middle;
	font-weight: bold;
}
.display-record .field-group label,
.display-record .field-group span.label
{
	font-size: .9em;
}
.field-group span.value 
{ 
	display:block; 
	vertical-align: middle;
}
.display-record .field-group span.value {
	font-size: 1.1em;
	margin-left: 10px;
}

.field-group span input { max-width: 100%; }

.field-group span textarea { width: 100%; }

#display-message { 
	padding: 5px; 
	background-color: transparent; 
	border-radius: 4px; 
	margin: 10px 0; 
	width: 50%; 
}

.filter-group {
	display: inline-block;
	margin: 1px 17px 1px 0;
}

.filter-button {
	margin-left: -17px;
}

body#drill-down.display-list {
	overflow-y: scroll;
}

a.list-paging img { vertical-align: middle; }

a.previous { margin-right: 8px; }
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

hr
{
	border-width: 0px;
	border-top-width: 1px;
}

/*** jQuery UI style overrides ***/

.ui-widget,
.ui-jqgrid .ui-jqgrid-view,
.ui-jqgrid .ui-jqgrid-pager
{ 
	font-family: Verdana, 
	sans-serif; 
	font-size: 12px; 
}

input.ui-button { padding: 0; }

/* This is the style for the trigger icon. The margin-bottom value causes the icon to shift down to center it. */
.ui-datepicker-trigger { margin-left:5px; margin-top: 8px; margin-bottom: -3px; cursor: pointer; }

.cancel
{
	background: #c9c9c9 url(../images/bg-button-cancel.png) 50% 50% repeat-x;
}

.cancel:hover
{
	background: #c9c9c9 url(../images/bg-button-cancel-hover.png) 50% 50% repeat-x;
}

.accept, 
.ui-dialog-buttonset .accept, 
.cancel, 
.ui-dialog-buttonset .cancel, 
.add 
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
}



.cancel, 
.ui-dialog-buttonset 
.cancel 
{ 
	border: 1px solid #cfcdcd; 
	font-weight: bold; 
	color: #777777; 
}

.accept:active, 
.cancel:active, 
.add:active 
{
	background-image: none;
	background-color: black;
	color: white;
}

.add {
	vertical-align: middle;
	padding: 0;
	height: 2em;
}

.add-link .add span {
	line-height: 1.2;
}

.add-link img {
	vertical-align: text-top;
}

.cancel, 
.accept 
{
	vertical-align: middle;
	padding: 0;
	min-height: 2.5em;
	margin: auto;
	display: inline-block;
}

.actions .ui-button {
	min-width: 0;
	width: 18px;
	height: 20px;
	vertical-align: middle;
	margin-right: 2px;
}

.value input[type="text"], .value input[type="number"]
{
	padding: 0.2em 0.3em;
}

input[type="text"]:disabled, input[type="number"]:disabled {
	background-image: none;
}

.ui-button {
 min-width: 7em;
}

.fields {
	margin-bottom: 26px;
}

#filters input, 
#filters label,
#logintable input
{ 
	vertical-align: middle; 
}

.filter-button
{
	height: 24px;
	padding: 0;
}

#login-button 
{
	height: 24px;
}

#logintable td {
	white-space: nowrap;
}

.filter-button {
	margin-left: -17px;
}

.ui-accordion-content h3 {
	font-size: 1em;
	padding: 0;
}


/***** Validation Styles *****/
.error-text {
	display: none;
}
.has-error .error-text {
	display: inline;
	font-size: .9em;
	color: red;
	margin-left: 10px;
}
.has-error .label .error-text {
	font-weight: normal;
	float: right;
}

.has-error input, .has-error select, .has-error textarea{
	border: 1px solid red;
	background:#ffeaea;
}

.required {
	color: red;
}

.optional {
	font-size: .9em;
	color: grey;
	margin-left: 10px;
}

.notice {
	padding: 5px;
	border: 1px dotted #94bb94;
	margin-bottom: 15px;
	background-color: #ebffeb;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #d6d6d6;
	background: #f8f8f7 url("../../css/images/ui-bg_glass_100_f8f8f7_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 1px solid #b3b3b3;
	background: #eaeade url("../../css/images/ui-bg_glass_100_eaeade_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: #212121;
	text-decoration: none;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #e8e8e8 url("../../css/images/ui-bg_glass_75_e8e8e8_1x400.png") 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}

.main-list th, 
.main-list th a.list-header,
.drill-down-list th,
.drill-down-list th a.list-header 
{
	color: black;
	font-weight: bold;
	font-size: 12px;
}

tr.altcol1 { background-color: #F9F9F9; }
tr.altcol2 { background-color: transparent; }

.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("../../css/images/ui-icons_448dc3_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("../../css/images/ui-icons_222222_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
	background-image: url("../../css/images/ui-icons_22679b_256x240.png");
}
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
	background-image: url("../../css/images/ui-icons_448dc3_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("../../css/images/ui-icons_cd0a0a_256x240.png");
}
.ui-button .ui-icon {
	background-image: url("../../css/images/ui-icons_448dc3_256x240.png");
}
.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
	background-image: url("../../css/images/ui-icons_ffa32e_256x240.png");
}


.actions .ui-button {
	min-width: 0;
	width: 18px;
	height: 20px;
	vertical-align: middle;
	margin-right: 2px;
}

.ui-button
{
	padding: 0;
}

a.add.ui-button,
button.add.ui-button
{
	padding: .4em 1em;
	display: inline;
}

a.ui-button-icon-only {
	box-sizing: content-box;
}

.ui-widget {
	font-family: Verdana, Arial, sans-serif;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana, Arial, sans-serif;
}
.ui-widget.ui-widget-content {
	border: 1px solid #d6d6d6;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #e8e8e8 url("../../css/images/ui-bg_glass_75_e8e8e8_1x400.png") 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #feeb76;
	background: #fff1a3 url("../../css/images/ui-bg_glass_55_fff1a3_1x400.png") 50% 50% repeat-x;
	color: #363636;
}
.ui-state-checked {
	border: 1px solid #feeb76;
	background: #fff1a3;
}


.accept, 
.ui-dialog-buttonset .accept, 
.add 
{
	background: #c7c7c7 url(../images/bg-button-go.png) 50% 50% repeat-x;
}

.accept, 
.ui-dialog-buttonset .accept, 
.add 

.accept, 
.ui-dialog-buttonset .accept,
a.accept,
a:link.accept,
a:visited.accept,
.add, 
a.add,
a:link.add,
a:visited.add
{ 
	border: 1px solid #327e04; 
	font-weight: bold; 
	color: #ffffff; 
}

.accept:hover, 
.add:hover
{
	background: #c7c7c7 url(../images/bg-button-go-hover.png) 50% 50% repeat-x;
}

.accept, 
.ui-dialog-buttonset .accept, 
.cancel, 
.ui-dialog-buttonset .cancel, 
.add 
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
}

.cancel, 
.ui-dialog-buttonset 
.cancel 
{ 
	border: 1px solid #cfcdcd; 
	font-weight: bold; 
	color: #777777; 
}

.cancel
{
	background: #c9c9c9 url(../images/bg-button-cancel.png) 50% 50% repeat-x;
}

.cancel:hover
{
	background: #c9c9c9 url(../images/bg-button-cancel-hover.png) 50% 50% repeat-x;
}

/* Overlays */
.ui-widget-overlay {
	background: #cfcfcf;
	opacity: .8;
	filter: Alpha(Opacity=80); /* support: IE8 */
}
.ui-widget-shadow {
	-webkit-box-shadow: -8px -8px 8px #aaaaaa;
	box-shadow: -8px -8px 8px #aaaaaa;
}



.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #aaaaaa;
	background: #ffffff url("../../css/images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #212121;
}

.ui-accordion-header-active a,
.ui-accordion-header-active a:link,
.ui-accordion-header-active a:visited {
	color: #212121;
}