.field-group input:disabled { color: black; border: 0; margin-top: 3px; box-shadow: none; background: none; }

.ui-dialog .ui-state-error { padding: .3em; }

.actions div { white-space: nowrap}
.actions button { margin-top: 2px; margin-bottom: 2px; }
div.ui-pg-div { text-align: center; }

.ui-jqgrid .actions { width: auto; }

/* hide disabled grid column sort icons */
.ui-grid-ico-sort.ui-state-disabled { display: none; }
#message.ui-state-highlight { color: #4F8A10; background-color: #DFF2BF; border-color: #4F8A10; }

.ui-jqgrid .ui-jqgrid-htable th {
	padding-top: 5px;
	padding-bottom: 5px;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border-right: 1px solid transparent;
}

.ui-dialog .ui-button.ui-dialog-titlebar-close {
	min-width: 0;
	min-height: 0;
}
